# Ignore compiler executable
andyc

# Ignore intermediate files
*.wasm
*.wat
*.fasl
*.fas
*.a
*.o
*.exe
*.c

# Ignore emacs backup files
*~
#*

# Ignore other non-project app data
AppData/*

# Un-ignore inc files
!inc/
!inc/**/*.wat

# Un-ignore runtime c source files
!runtime/c/
!runtime/c/src/*.c