# Ignore compiler executable
andyc

# Ignore intermediate files
*.wasm
*.wat
*.fasl
*.fas
*.a
*.o
*.exe
*.c
*.pc

# Ignore emacs backup files
*~
#*

# Ignore other non-project app data
AppData/*

# Ignore old example programs


# Un-ignore runtime wasm files
!runtime/wat/
!runtime/wat/*wat

# Un-ignore runtime c source files
!runtime/c/
!runtime/c/src/*.c

# Ignore example files, except for andy source code
examples/*
!examples/*/
!examples/**/*.andy
examples/old/*

